{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center align-items-center" style="height: 100vh; width: 100%">
    <section class="gradient-form h-100 w-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                        <img src="{% static 'img/logo.png' %}"
                        style="width: 185px;" alt="logo">
                    </div>
    
                    <h2 class="text-center m-4">Quên mật khẩu</h2>
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-carrot btn-block">Đặt lại mật khẩu</button>
                    </form>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h2 class="mb-4">Khám phá đặc quyền tại DoubleT Bad</h2>
                        <p class="small mb-0 fs-6">Khám phá thế giới phụ kiện cầu lông lớn nhất Việt Nam, nơi cung cấp đầy đủ các sản phẩm và dịch vụ cho cộng đồng người chơi cầu lông đam mê. Tại đây, chúng tôi không chỉ cung cấp những chiếc vợt chất lượng, mà còn đồng hành cùng bạn qua mỗi set đấu với những phụ kiện cầu lông đa dạng và chất lượng hàng đầu. Bạn sẽ khám phá thế giới của những đôi giày êm ái, quần áo thoáng khí và những bình nước tiện lợi, tất cả được thiết kế để nâng cao trải nghiệm chơi cầu lông của bạn.</p>
                    </div>                    
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>
{% endblock %}
