.gradient-custom-2 {
    background: radial-gradient(circle at -1% 57.5%, rgb(250, 149, 72) 0%, rgb(175, 71, 1) 90%);
}


@media (min-width: 768px) {
.gradient-form {
    height: 100vh !important;
}
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}