:root {
    --greentea-color: #3CB815;
    --carrot-color: #F65005;
}

.greentea-color {
    color: var(--greentea-color);
}

.greentea-bgcolor {
    background-color: var(--greentea-color);
}

.carrot-color {
    color: var(--carrot-color);
}

.carrot-color-hover:hover {
    color: var(--carrot-color) !important;
}

.carrot-bgcolor {
    background-color: var(--carrot-color);
}

.cursor-pointer {
    cursor: pointer !important;
}

.header-navbar {
    background-color: #fff !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar-brand h1 {
    font-family: "Lora",serif;
    font-weight: bold;
}

.carousel-caption h1 {
    font-family: "Lora",serif;
    font-weight: bold;
    text-align: left;
}

.text-lora {
    font-family: "Lora",serif;
    font-weight: 700;
}

.carousel-caption a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff; 
}

#carouselExampleControls .carousel-item img {
    min-height: 450px;
    object-fit: cover;
}

.navbar-nav .nav-item {
    margin: 10px;
}

.navbar-nav a {
    font-weight: bold;
}

.navbar-nav a:hover {
    color: var(--greentea-color)!important;
    cursor: pointer!important;
}

.hover-greentea-text:hover {
    color: var(--greentea-color)!important;
}

.hover-underlined-text:hover {
    text-decoration: underline !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.hover-cursor-pointer:hover {
    cursor: pointer !important;
}

.bg-fruit-1 {
    background-image: url(../img/bg-fruit-1.png);
    min-height: 80vh;
}

.bg-fruit-2 {
    background-image: url(../img/bg-fruit-2.png);
    min-height: 350px;
}

.btn-primary {
    background-color: var(--greentea-color) !important;
    border-color: var(--greentea-color) !important;
}

.btn-primary:hover {
    background-color: #31a010 !important;
}

.btn-carrot {
    background-color: var(--carrot-color) !important;
    border-color: var(--carrot-color) !important;
    color: #fff !important;
}

.btn-carrot:hover {
    background-color: #c71c06 !important;
}

.btn-outline-primary {
    color: var(--greentea-color) !important;
    border-color: var(--greentea-color) !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: var(--greentea-color) !important;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff !important;
    background-color: var(--greentea-color) !important;
    border-color: var(--greentea-color) !important;
}

.card-img-top {
    height: 20rem !important;
    object-fit: cover;
}

.cart-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    font-size: 1.7rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--greentea-color) !important;
    background-color: #fff;
}

.cart-btn:hover {
    background-color: var(--greentea-color) !important;
}

.cart-btn:hover i {
    color: #fff !important;
}

/* Thêm quy tắc CSS cho .circle-badge */
.circle-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #EA001B;
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.product-item a:hover {
    color: var(--greentea-color) !important;
}

.product-sections {

}

.blog-item {
    padding: 0 !important;
}

.blog-title:hover {
    color: #3CB815 !important;
}

#alerts-section {
    width: 450px;
    position: fixed;
    bottom: 0;
    left: 20;
    z-index: 1000;
    margin-left: 20px;
}

.img-blog-footer {
    height: 100px !important;
    object-fit: cover;
}

.bg-footer {
    background-color: #71a372;
}

.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

@media (min-width: 1300px) {
    .carousel-caption {
        top: 40%;
    }
}

@media (max-width: 1000px) {
    .hello-user {
        display: none;
    }
}