.password-toggle {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
}

.password-toggle input[type="password"] {
    flex: 1;
    border: none;
    outline: none;
}

.password-toggle i {
    cursor: pointer;
}

.password-toggle:hover {
    color: rgb(89, 94, 231);
}

#password-fields {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

#password-fields input {
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    min-width: 230px;
    width: 100%;
}

.input-padding {
    padding: 8px;
    border: 1px solid #ccc;
    min-width: 230px;
}

.mh-ps {
    min-height: 160px;
}

.mw-ps {
    min-width: 230px;
}