body {
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Thêm CSS cho thanh navbar */
nav li {
    margin: auto;
}

/*  */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
}

.open {
    display: flex;
}

.modal-container {
    background: #ffffff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close, .modal-close2 {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover, .modal-close2:hover {
    opacity: 1;
    background-color: #f44336;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: calc(100%);
    padding: 10px 0;
    padding-left: 7px;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    text-transform: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.buy-tickets:hover {
    background: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    padding-bottom: 40px;
}

/* .modal-register {
    float: left;
}

.modal-help {
    float: right;
} */

.modal-footer a {
    color: #2196F3;
}

.modal-footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.circle {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
  
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-nav a {
    cursor: pointer;
}

.bigsale-icon {
    width: 100px;
}

.product-details {
    height: 100px;
}

.form-select {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 10px;
    font-size: 16px;
}

.blog-title {
    height: 100px;
}

.footer-section {
    display: flex;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
    color: #fff;
}

.footer-element {
    font-size: 1.3em !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-element i {
    margin-right: 5px;
}

@media (max-width: 800px) {
    .footer-section {
        display: block;
    }
}

@media (max-width: 650px) {
    .footer-element {
        font-size: 1em !important;
    }
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e3e9f7;
}
.wrapper {
	padding: 50px 0;
	position: relative;
	margin: 120px 0;
}
.carousel-control.left, .carousel-control.right {
	background: transparent;
}
.imgBox {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 5px dashed #262626;
	border-radius: 50%;
	overflow: hidden;
}
.imgBox img {
	width: 100%;
}
.carousel-inner {
	background: aliceblue;
	padding: 35px;
	border-radius: 25px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.carousel-caption {
	position: static;
	padding-bottom: 15px;
	padding-top: 0;
}
.carousel-caption h3 {
	font-size: 50px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: 'Allura', cursive;
	color: #262626;
	text-shadow: none;
}
.carousel-caption h4 {
	color: #2b2626;
	text-shadow: none;
}
.carousel-caption p {
	font-size: 18px;
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	text-shadow: none;
	color: #2b2626;
}
.carousel-indicators li {
	background-color: #ddd;
	width: 50px;
}
.carousel-control {
	color: #2b2626;
}
.carousel-indicators .active {
	background-color: #2b2626;
	width: 20px
}
.carousel-indicators {
	bottom: 10px;
}
