body {
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F5F5F5;
}

#main-body {
    /* background-color: #fff; */
}

/* Thêm CSS cho thanh navbar */
nav li {
    margin: auto;
}

/*  */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
}

.open {
    display: flex;
}

.modal-container {
    background: #ffffff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header-custom {
    background: #009688;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close, .modal-close2 {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover, .modal-close2:hover {
    opacity: 1;
    background-color: #f44336;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: calc(100%);
    padding: 10px 0;
    padding-left: 7px;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    text-transform: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.buy-tickets:hover {
    background: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    padding-bottom: 40px;
}

/* .modal-register {
    float: left;
}

.modal-help {
    float: right;
} */

.modal-footer a {
    color: #2196F3;
}

.modal-footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.circle {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
  
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-nav a {
    cursor: pointer;
}

.bigsale-icon {
    width: 100px;
}

.product-details {
    height: 100px;
}

.form-select {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 10px;
    font-size: 16px;
}

.blog-title {
    /* height: 100px; */
}

.footer-section {
    display: flex;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
    color: #fff;
}

.footer-element {
    font-size: 1.3em !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-element i {
    margin-right: 5px;
}

.customer-review-image {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
    border: 5px solid var(--greentea-color) !important;
}

.bg-footer {
    background-color: #009688;
}

.truncate-wrapper {
    max-width: 200px; /* Đặt max-width tùy thuộc vào nhu cầu của bạn */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-type-title {
    color: #fff;
    background-color: #1221aa;
}

.product-type-title-2 {
    color: #000000;
    background-color: #b2b4f3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.border-radius-5 {
    border-radius: 5px;
}

.bg-white {
    background-color: #fff;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 800px) {
    .footer-section {
        display: block;
    }
}

@media (max-width: 650px) {
    .footer-element {
        font-size: 1em !important;
    }
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
