{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blogDetails.css' %}">
    <link rel="stylesheet" href="{% static '/font/themify-icons-font/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}">
    <title>DoubleT Bad | {{ blog.title|safe  }}</title>
  </head>
  <body>
    <!-- Navbar Start -->
    {% include 'components/navbar.html' %}
    <!-- Navbar End -->

    <!-- Chatbot Button Start -->
    <button class="cart-btn btn-outline-primary border-2">
      <a class="shopping-bag-icon m-auto" href="/cart">
          <i class="fa fa-comments greentea-color"></i>
      </a>
    </button>
    <!-- Chatbot Button End -->

    <!-- Shopping Cart Button Start -->
    <button class="cart-btn btn-outline-primary border-2">
        <a class="shopping-bag-icon m-auto" href="/cart">
            <i class="fa fa-shopping-bag greentea-color"></i>
        </a>
    </button>
    <!-- Shopping Cart Button End -->

    <!-- Modal Start -->

    <div id="modal" class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                Welcome to DoubleT Bad
            </header>

            <div class="modal-body">
                <!-- For: only use with id -->
                <form method="POST" action="login">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <label class="modal-label">
                        <i class="ti-user"></i>
                        Username
                    </label>
                    <input type="text" name="username" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Password
                    </label>
                    <input type="password" name="password" class="modal-input" placeholder="Your password" required="" autocomplete="current-password">
                    
                    {% for message in messages %}
                    <h3 style="color: red">{{ message}}</h3>
                    {% endfor %}
                    
                    <input type="submit" name="login" value="Login" class="buy-tickets">
                </form>
            </div>
            <div class="d-flex justify-content-between">
                <div class="m-4">
                    <a class="btn-register cursor-pointer">Register</a>
                </div>
                <div class="m-4">
                    <a href="/accounts/password/reset/">Forgot password ?</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-container js-modal-container2">
            <div class="modal-close2">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                Welcome to DoubleT Bad
            </header>

            <div class="modal-body">
                <!-- For: only use with id -->
                <form method="POST" action="register">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <label for="ticket-quantity" class="modal-label">
                        <i class="ti-email"></i>
                        Email
                    </label>
                    <input type="email" name="email" class="modal-input" placeholder="Your email" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-user"></i>
                        Username
                    </label>
                    <input type="text" name="username" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Password
                    </label>
                    <input type="password" name="password" class="modal-input" placeholder="Your password" required="" autocomplete="current-password">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Confirm Password
                    </label>
                    <input type="password" name="password2" class="modal-input" placeholder="Confirm your password" required="" autocomplete="current-password">

                    {% for message in messages %}
                    <h3 style="color: red">{{ message}}</h3>
                    {% endfor %}

                    <input type="submit" name="register" value="Register" class="buy-tickets">
                </form>
            </div>

            <div class="d-flex justify-content-between">
                <div class="m-4">
                    <a class="btn-login cursor-pointer">Login</a>
                </div>
                <div class="m-4">
                    <a href="/accounts/password/reset/">Forgot password ?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal End -->

    <!-- Blogs Details Start -->
    <div class="container-xxl py-5 my-auto">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden pe-0">
                        {% if blog.image %}
                            <img src="{{ blog.image.url }}" class="img-fluid w-100" alt="Product Image">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="Product Image">
                        {% endif %}
                        <div class="carrot-bgcolor rounded text-white position-absolute start-0 top-0 m-5 py-2 px-4">New</div>
                    </div>
                </div>
                <div class="wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-4">
                        <a class="d-block h1 text-decoration-none text-dark text-lora mb-2" href="/blogs/{{ blog.id }}">{{ blog.title|safe }}</a>
                        <p>{{ blog.content| safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blogs Details End -->

    <!-- Footer Start -->
    {% include 'components/footer.html' with blogs=blogs %}
    <!-- Footer End -->

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>