{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/font/themify-icons-font/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>DoubleT Bad | Homepage</title>
  </head>

  <body>
    <div id="main-body" style="margin: 0 10vw;">
      {% include 'components/navbar.html' %}

      <div class="row g-0 p-0" style="margin-top: 100px;">
        <div class="col-lg-12 p-0 m-0 px-2">
          <div id="">
          </div>
          {% include 'components/carousel.html' %}
        </div>
      </div>

      {% include 'components/levelSection.html' %}

    <!-- Messages Start -->
    {% include 'components/messageAlert.html' with messages=messages %}
    <!-- Messages End -->

    <!-- Modal Start -->

    {% include 'components/loginForm.html' %}
    
    {% include 'components/registerForm.html' %}

    <!-- Modal End -->

    <!-- About Start -->
    {% include 'components/about.html' %}
    <!-- About End -->

    <!-- Feature Start -->
    {% include 'components/features.html' %}
    <!-- Feature End -->

    <!-- Product Start -->
    {% include 'components/products.html' with products_with_images=products_with_images product_types=product_types %}
    <!-- Product End -->

    <!-- Shop Visit Start -->
    <div class="container-fluid greentea-bgcolor bg-fruit-2 my-5 py-5">
      <div class="container">
          <div class="row g-5 align-items-center m-auto">
              <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                  <h1 class="display-5 text-white text-lora mb-3">Ghé thăm cửa hàng chúng tôi</h1>
                  <p class="text-white mb-0">Khám phá thế giới phụ kiện cầu lông lớn nhất Việt Nam, nơi cung cấp đầy đủ các sản phẩm và dịch vụ cho cộng đồng người chơi cầu lông đam mê. Tại đây, chúng tôi không chỉ cung cấp những chiếc vợt chất lượng, mà còn đồng hành cùng bạn qua mỗi set đấu với những phụ kiện cầu lông đa dạng và chất lượng hàng đầu. Bạn sẽ khám phá thế giới của những đôi giày êm ái, quần áo thoáng khí và những bình nước tiện lợi, tất cả được thiết kế để nâng cao trải nghiệm chơi cầu lông của bạn.</p>
              </div>
              <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                  <a class="btn btn-lg btn-carrot rounded-pill py-3 px-5" href="">Xem ngay</a>
              </div>
          </div>
      </div>
    </div>
    <!-- Shop Visit End -->

    <div id="testimonial-section-home"></div>

    <!-- Testimonial Start -->
    {% include 'components/customerReview.html' %}
    <!-- Testimonial End -->

    <!-- Blog Start -->
    {% include 'components/blogs.html' with blogs=blogs %}
    <!-- Blog End -->

  </div>

  <!-- Brands Start -->
  {% include 'components/brandSlider.html' %}
  <!-- Brands End -->

  <!-- Footer Start -->
  {% include 'components/footer.html' with blogs=blogs %}
  <!-- Footer End -->
  
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        function getAllProductsWithImages() {
            return fetch('/api/product-with-type/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Process the retrieved data with images as needed
                console.log('All products with images:', data);
                return data;
            })
            .catch(error => {
                console.error('Error fetching all products with images:', error);
            });
        }

        getAllProductsWithImages();
      });
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <script
        src="https://mindmaid.ai/embed.js"
        data-chat-service="Salebot"
        data-bot-id="71796453-8edd-4ddf-82be-d60bcb3e936e"
        data-chat-width="450px"
        data-chat-height="600px"
        data-bubble-color="#3071FF"
    ></script>
  </body>
</html>
