{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/font/themify-icons-font/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>DojiStore | Homepage</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <nav
      class="header-navbar navbar fixed-top navbar-expand-lg navbar-light bg-white m-0 py-lg-0 px-lg-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <a href="/" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="fw-bold greentea-color m-0">
          Doji<span class="carrot-color"> Store</span>
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler me-4"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/" class="nav-item nav-link active">Home</a>
          {% if user.is_staff %}
          <a href="/products" class="nav-item nav-link">Products</a>
          <a href="/addproduct" class="nav-item nav-link">Add Products</a>
          <a href="/blogs" class="nav-item nav-link">Blogs</a>
          <a href="/writeblog" class="nav-item nav-link">Write Blogs</a>
          {% else %}
          <a href="/products" class="nav-item nav-link">Products</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Explore</a
            >
            <div class="dropdown-menu m-0">
              <a href="/aboutUs" class="nav-item nav-link">About Us</a>
              <a href="/contact" class="nav-item nav-link">Contact Us</a>
              <a href="/blogs" class="nav-item nav-link">Blogs</a>
            </div>
          </div>
          {% endif %} {% if user.is_authenticated %}
          <!-- <a class="hello-user nav-item nav-link"
            >Hi <b>{{ user.username }}</b></a
          > -->
          <nav class="navbar navbar-expand-lg navbar-light m-0 p-0">
            <div class="container-fluid">
              <ul class="navbar-nav m-0 p-0">
                <!-- Shopping Cart Button Start -->
                <li class="nav-item m-0 p-0">
                  <a class="nav-link shopping-bag-icon d-flex align-items-center m-auto mx-2" href="/cart">
                    <i class="fa fa-shopping-bag greentea-color"></i>
                    <span class="circle-badge" id="cart-item-count">{{ cart.total_quantity }}</span>
                  </a>
                </li>
                <!-- Shopping Cart Button End -->
                <!-- Avatar -->
                <li class="nav-item dropdown m-0 p-0">
                  <a
                    class="nav-link dropdown-toggle d-flex align-items-center m-auto"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-user greentea-color"></i>
                    <!-- <img
                      src="{% static 'img/default-avatar.png' %}"
                      class="rounded-circle"
                      height="50"
                      alt="Avatar"
                      loading="lazy"
                    /> -->
                  </a>
                  <ul
                    class="dropdown-menu  dropdown-menu-end mt-4"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a class="dropdown-item" href="/profile">My profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          {% else %}
          <a class="nav-item nav-link btn-login">Login</a>
          <a class="nav-item nav-link btn-register">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Chatbot Button Start -->
    <button class="cart-btn btn-outline-primary border-2">
      <a class="shopping-bag-icon m-auto" href="/cart">
          <i class="fa fa-comments greentea-color"></i>
      </a>
    </button>
    <!-- Chatbot Button End -->

    <!-- Carousel Start -->
    <div
      id="carouselExampleControls"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'img/carousel-1.jpg'%}"
            class="d-block w-100"
            alt="Carousel 1"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-lg-7">
                  <h1 class="display-2 text-dark mb-5 animated slideInDown">
                    Organic Food Is Good For Health
                  </h1>
                  <a
                    href="/products"
                    class="btn greentea-bgcolor rounded-pill py-sm-3 px-sm-5"
                    >Products</a
                  >
                  <a
                    href="/services"
                    class="btn carrot-bgcolor rounded-pill py-sm-3 px-sm-5 ms-3"
                    >Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'img/carousel-1.jpg'%}"
            class="d-block w-100"
            alt="Carousel 2"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-lg-7">
                  <h1 class="display-2 text-dark mb-5 animated slideInDown">
                    Natural Food Is Always Healthy
                  </h1>
                  <a
                    href="/products"
                    class="btn greentea-bgcolor rounded-pill py-sm-3 px-sm-5"
                    >Products</a
                  >
                  <a
                    href="/services"
                    class="btn carrot-bgcolor rounded-pill py-sm-3 px-sm-5 ms-3"
                    >Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon p-4" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon p-4" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Carousel End -->

    <!-- Messages Start -->
    {% if messages %}
    <div id="alerts-section">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          />
        </symbol>
        <symbol
          id="exclamation-triangle-fill"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </symbol>
      </svg>

      {% for message in messages %} {% if message.tags == 'info'%}
      <div
        class="alert alert-primary d-flex align-items-center alert-dismissible fade show"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Info:"
        >
          <use xlink:href="#info-fill" />
        </svg>
        <div>{{ message }}</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      {% elif message.tags == 'success'%}
      <div
        class="alert alert-success d-flex align-items-center alert-dismissible fade show"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Success:"
        >
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div>{{ message }}</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      {% elif message.tags == 'error'%}
      <div
        class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Danger:"
        >
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>{{ message }}</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
    <!-- Messages End -->

    <!-- Modal Start -->

    <div id="modal" class="modal js-modal">
      <div class="modal-container js-modal-container">
        <div class="modal-close">
          <i class="ti-close"></i>
        </div>

        <header class="modal-header-custom">Welcome to DojiStore</header>

        <div class="modal-body">
          <!-- For: only use with id -->
          <form method="POST">
            {% csrf_token %}
            <label class="modal-label">
              <i class="ti-user"></i>
              Username
            </label>
            <input
              type="text"
              name="username"
              class="modal-input"
              placeholder="Your username"
              required=""
              autocomplete="username"
            />

            <label class="modal-label">
              <i class="ti-shopping-cart"></i>
              Password
            </label>
            <input
              type="password"
              name="password"
              class="modal-input"
              placeholder="Your password"
              required=""
              autocomplete="current-password"
            />

            {% for message in messages %}
            <h3 style="color: red">{{ message}}</h3>
            {% endfor %}

            <input
              type="submit"
              name="login"
              value="Login"
              class="buy-tickets"
            />
          </form>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-4">
            <a class="btn-register cursor-pointer">Register</a>
          </div>
          <div class="m-4">
            <a href="/accounts/password/reset/">Forgot password ?</a>
          </div>
        </div>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-container js-modal-container2">
        <div class="modal-close2">
          <i class="ti-close"></i>
        </div>

        <header class="modal-header-custom">Welcome to DojiStore</header>

        <div class="modal-body">
          <!-- For: only use with id -->
          <form method="POST">
            {% csrf_token %}
            <label for="ticket-quantity" class="modal-label">
              <i class="ti-email"></i>
              Email
            </label>
            <input
              type="email"
              name="email"
              class="modal-input"
              placeholder="Your email"
              required=""
              autocomplete="username"
            />

            <label class="modal-label">
              <i class="ti-user"></i>
              Username
            </label>
            <input
              type="text"
              name="username"
              class="modal-input"
              placeholder="Your username"
              required=""
              autocomplete="username"
            />

            <label class="modal-label">
              <i class="ti-shopping-cart"></i>
              Password
            </label>
            <input
              type="password"
              name="password"
              class="modal-input"
              placeholder="Your password"
              required=""
              autocomplete="current-password"
            />

            <label class="modal-label">
              <i class="ti-shopping-cart"></i>
              Confirm Password
            </label>
            <input
              type="password"
              name="password2"
              class="modal-input"
              placeholder="Confirm your password"
              required=""
              autocomplete="current-password"
            />

            {% for message in messages %}
            <h3 style="color: red">{{ message}}</h3>
            {% endfor %}

            <input
              type="submit"
              name="register"
              value="Register"
              class="buy-tickets"
            />
          </form>
        </div>

        <div class="d-flex justify-content-between">
          <div class="m-4">
            <amodamodal-header class="btn-login cursor-pointer">Login</a>
          </div>
          <div class="m-4">
            <a href="/accounts/password/reset/">Forgot password ?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal End -->

    <!-- About Start -->
    <div class="container-xxl py-5 my-5">
      <div class="container">
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="about-img position-relative overflow-hidden p-5 pe-0">
              <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" />
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <h1 class="text-lora display-5 mb-4">
              Best Organic Fruits And Vegetables
            </h1>
            <p class="mb-4">
              Discover the purity of nature with our organic products, crafted
              to rejuvenate your body and soul. Elevate your wellness routine
              with our range of organic offerings, promoting a healthier
              lifestyle inside and out. Experience the difference of
              chemical-free living through our organic collection, designed to
              enhance your overall well-being.
            </p>
            <p>
              <i class="fa fa-check greentea-color me-3"></i>Tempor erat elitr
              rebum at clita
            </p>
            <p>
              <i class="fa fa-check greentea-color me-3"></i>Aliqu diam amet
              diam et eos
            </p>
            <p>
              <i class="fa fa-check greentea-color me-3"></i>Clita duo justo
              magna dolore erat amet
            </p>
            <a
              class="btn greentea-bgcolor text-white rounded-pill py-3 px-5 mt-3"
              href=""
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="bg-fruit-1 container-fluid bg-light bg-icon py-5">
      <div class="container">
        <div
          class="section-header text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 500px;"
        >
          <h1 class="text-lora display-5 mb-3">Our Features</h1>
          <p>
            Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam
            justo sed rebum vero dolor duo.
          </p>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
              <img
                class="img-fluid mb-4"
                src="{% static 'img/icon-1.png' %}"
                alt=""
              />
              <h4 class="mb-3">Natural Process</h4>
              <p class="mb-4">
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum
                diam justo sed vero dolor duo.
              </p>
              <a
                class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                href=""
                >Read More</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
              <img
                class="img-fluid mb-4"
                src="{% static 'img/icon-2.png' %}"
                alt=""
              />
              <h4 class="mb-3">Organic Products</h4>
              <p class="mb-4">
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum
                diam justo sed vero dolor duo.
              </p>
              <a
                class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                href=""
                >Read More</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
              <img
                class="img-fluid mb-4"
                src="{% static 'img/icon-3.png' %}"
                alt=""
              />
              <h4 class="mb-3">Biologically Safe</h4>
              <p class="mb-4">
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum
                diam justo sed vero dolor duo.
              </p>
              <a
                class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                href=""
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature End -->

    <!-- Product Start -->
    <div class="product-sections container-xxl py-5 my-5">
      <div class="container">
        <div class="row g-0 gx-5 align-items-end">
          <div class="col-lg-6">
            <div
              class="section-header text-start mb-5 wow fadeInUp"
              data-wow-delay="0.1s"
              style="max-width: 500px;"
            >
              <h1 class="text-lora display-5 mb-3">Our Products</h1>
              <p>
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum
                diam justo sed rebum vero dolor duo.
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 text-start text-lg-end wow slideInRight"
            data-wow-delay="0.1s"
          >
            <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
              {% for name in product_types %}
                <li class="nav-item me-2">
                  <a
                    class="btn btn-outline-primary border-2 {% if forloop.first %}active{% endif %}"
                    data-bs-toggle="pill"
                    href="#tab-{{ forloop.counter }}"
                  >{{ name }}</a>
                </li>
              {% endfor %}
            </ul>            
          </div>
        </div>
        <div class="tab-content">
          {% for product_type_info in products_with_images %}
            <div id="tab-{{ forloop.counter }}" class="tab-pane fade show p-0 {% if forloop.first %}active{% endif %}">
              <div class="row g-4">
                {% for product_info in product_type_info.products_and_images %}
                  {% for image_info in product_info.images %}
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp my-4" data-wow-delay="0.1s">
                      <div class="product-item rounded-3 border">
                        <div class="position-relative bg-light overflow-hidden">
                          {% if image_info.url %}
                            <img src="{{ image_info.url.url }}" class="card-img-top w-100" alt="Product Image">
                          {% else %}
                            <img class="card-img-top w-100" src="{% static 'img/product-1.jpg' %}" alt="Product Image">
                          {% endif %}
                          <div class="carrot-bgcolor rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                            New
                          </div>
                        </div>
                        <div class="text-center p-4">
                          <a class="d-block h4 text-decoration-none text-dark text-lora mb-2" href="/products/{{ product_info.product.product_id }}">
                            {{ product_info.product.name|default:" " }}
                          </a>
                          <div class="product-details d-flex align-items-center justify-content-start">
                            <div>
                              <div class="text-body text-decoration-line-through text-truncate text-start p-0">
                                {{ product_info.product.price|default:" " }} VND
                              </div>
                              <div class="text-danger fw-bold h3 text-truncate text-start my-3">
                                {{ product_info.product.pricesale|default:" " }} VND
                              </div>
                            </div>
                            {% if product_info.product.pricesale < product_info.product.price %}
                              <img class="bigsale-icon mx-auto" src="{% static 'img/bigsale.gif'%}" alt="bigsale">
                            {% endif %}
                          </div>
                        </div>
                        {% if user.is_staff %}
                        <div class="d-flex border-top">
                          <small class="w-50 text-center border-end py-2">
                            <a
                              class="text-body text-decoration-none"
                              href="/products/edit/{{ product_info.product.product_id }}"
                            >
                              <i class="fa fa-pen greentea-color me-2"></i>Edit
                            </a>
                          </small>
                          <small class="w-50 text-center py-2">
                            <a
                              class="text-body text-decoration-none"
                              href="/products/delete/{{ product_info.product.product_id }}"
                            >
                              <i class="fa fa-trash carrot-color me-2"></i>Delete
                            </a>
                          </small>
                        </div>
                        {% else %}
                        <div class="d-flex border-top">
                          <small class="w-50 text-center border-end py-2">
                              <button type="button" class="btn btn-transparent btn-sm">
                                <a class="text-body text-decoration-none view-detail" href="/products/{{ product_info.product.product_id }}">
                                  <i class="fa fa-eye greentea-color me-2"></i>View detail
                                </a>
                              </button>
                          </small>
                          <small class="w-50 text-center py-2">
                              <button type="button" class="btn btn-transparent btn-sm">
                                <a class="text-body text-decoration-none pe-auto add-to-cart" data-product-id="{{ product_info.product.product_id }}" onclick="updateCartItemCount('{{ product_info.product.product_id }}', 1)">
                                  <i class="fa fa-shopping-bag greentea-color me-2"></i>Add to cart
                                </a>
                              </button>
                          </small>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                  <a class="btn btn-primary rounded-pill py-3 px-5" href="/products">Browse More Products</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Product End -->

    <!-- Farm Visit Start -->
    <div class="container-fluid greentea-bgcolor bg-fruit-2 mt-5 py-5">
      <div class="container">
        <div class="row g-5 align-items-center m-auto">
          <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
            <h1 class="display-5 text-white text-lora mb-3">Visit Our Farm</h1>
            <p class="text-white mb-0">
              Discover the purity of nature with our organic products, crafted
              to rejuvenate your body and soul. Elevate your wellness routine
              with our range of organic offerings, promoting a healthier
              lifestyle inside and out. Experience the difference of
              chemical-free living through our organic collection, designed to
              enhance your overall well-being.
            </p>
          </div>
          <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
            <a class="btn btn-lg btn-carrot rounded-pill py-3 px-5" href=""
              >Visit Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Farm Visit End -->

    <div id="testimonial-section-home"></div>

    <!-- Testimonial Start -->
    <div class="container-fluid bg-fruit-1 bg-icon py-5 mb-5">
      <div class="container py-5">
        <div
          class="section-header text-center mx-auto mb-5 py-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 500px;"
        >
          <h1 class="display-5 text-lora mb-3">Customer Review</h1>
          <p>
            Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam
            justo sed rebum vero dolor duo.
          </p>
        </div>
        <div
          id="carouselExampleControls2"
          class="carousel carousel-dark slide text-center"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial">
                <img
                  class="customer-review-image mb-4"
                  src="{% static 'img/product-1.jpg' %}"
                  alt="Avatar"
                />
                <h3>John</h3>
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nullam id blandit odio."
                </p>
                <div class="rating h3 text-warning">★★★★★</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <img
                  class="customer-review-image mb-4"
                  src="{% static 'img/product-2.jpg' %}"
                  alt="Avatar"
                />
                <h3>Lauren</h3>
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nullam id blandit odio."
                </p>
                <div class="rating h3 text-warning">★★★★☆</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <img
                  class="customer-review-image mb-4"
                  src="{% static 'img/product-3.jpg' %}"
                  alt="Avatar"
                />
                <h3>Jessica</h3>
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nullam id blandit odio."
                </p>
                <div class="rating h3 text-warning">★★★★★</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial">
                <img
                  class="customer-review-image mb-4"
                  src="{% static 'img/product-4.jpg' %}"
                  alt="Avatar"
                />
                <h3>Mark</h3>
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nullam id blandit odio."
                </p>
                <div class="rating h3 text-warning">★★★★★</div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls2"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon p-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls2"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon p-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div
          class="section-header text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 500px;"
        >
          <h1 class="display-5 text-lora mb-3">Latest Blogs</h1>
          <p>
            Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam
            justo sed rebum vero dolor duo.
          </p>
        </div>
        <div class="row g-4">
          {% for blog in blogs %}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="blog-item border">
              <div class="position-relative bg-light overflow-hidden">
                <img
                  class="card-img-top w-100"
                  src="{{ blog.image.url }}"
                  alt="Blog Image"
                />
                <div
                  class="carrot-bgcolor rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"
                >
                  New
                </div>
              </div>
              <!-- <img class="card-img-top w-100" src="{{ blog.image.url }}" alt="Blog Image"> -->
              <div class="bg-light p-4">
                <a
                  class="d-block blog-title h5 lh-base text-decoration-none fw-bold text-dark mb-4"
                  href="/blogs/{{ blog.id }}"
                  >{{ blog.title|safe }}</a
                >
                <!-- <p class="blog-content text-truncate mb-2">
                  {{ blog.content|safe }}
                </p> -->
                <div class="text-muted border-top pt-4">
                  <small class="me-3"><i class="fa fa-user greentea-color me-2"></i>Admin</small>
                  <small class="me-3"><i class="fa fa-calendar greentea-color me-2"></i>{{blog.created_at.day }}/{{ blog.created_at.month }}/{{blog.created_at.year }}</small>
                </div>
              </div>
              {% if user.is_staff %}
              <div class="d-flex border-top">
                <small class="w-50 text-center border-end py-2">
                  <a
                    class="text-body text-decoration-none"
                    href="/blogs/edit/{{ blog.id }}"
                  >
                    <i class="fa fa-pen greentea-color me-2"></i>Edit
                  </a>
                </small>
                <small class="w-50 text-center py-2">
                  <a
                    class="text-body text-decoration-none"
                    href="/blogs/delete/{{ blog.id }}"
                  >
                    <i class="fa fa-trash carrot-color me-2"></i>Delete
                  </a>
                </small>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-12 text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
          <a class="btn btn-primary rounded-pill py-3 px-5" href="/blogs"
            >Read more</a
          >
        </div>
      </div>
    </div>

    <!-- Blog End -->

    <!-- Footer Start -->
    <div class="mt-5 text-lora">
      <footer class="bg-footer text-center text-lg-start text-white">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pt-4 border-top">
              <div
                class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                style="width: 150px; height: 150px; border-radius: 50%;"
              >
                <img
                  src="{% static 'img/logo.png'%}"
                  style="border-radius: 50%;"
                  height="130"
                  alt=""
                  loading="lazy"
                />
              </div>

              <p class="text-center mx-4">
                Discover the Freshness of Nature in Every Bite with Our Organic
                Selections !
              </p>

              <ul class="list-unstyled d-flex flex-row justify-content-center">
                <li>
                  <a
                    class="text-white px-2"
                    href="https://www.facebook.com/dojiorganics"
                  >
                    <i class="fab fa-facebook-square fa-2x"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="text-white px-2"
                    href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fdoji_beauty%2F%3Ffbclid%3DIwAR0cNQOZiNlyHbwwLj6EWBu_lnKeEEZgG4ma6_cEs5GWZ7PTPGscewHOSRs&h=AT0NwONksW58dI2w18ymZIc3AIYzl3MgExYIUeqzIimlrzEDS9_39xnKDOkwl5CTVoqkae12eqlo9KPDbP6YU0-1ez3hdo0vqlEpjODuq_g2hVvfaTZ-iuel8aV7ibdojXS4sA"
                  >
                    <i class="fab fa-instagram fa-2x"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="text-white ps-2"
                    href="https://www.linkedin.com/in/dangtrinhhh"
                  >
                    <i class="fab fa-linkedin fa-2x"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pt-4 border-top">
              <h5 class="fw-bold mb-4 fs-3 text">Organic Food</h5>

              <ul class="list-unstyled">
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Fruits and
                    Vegetables</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Grains</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Dairy Products</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Meat and Poultry</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Seafood</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Nuts and Seeds</a
                  >
                </li>
                <li class="mb-2 text-start">
                  <a
                    href="#!"
                    class="text-white text-decoration-none hover-underlined-text"
                    ><i class="fas fa-seedling pe-3"></i>Beverages</a
                  >
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pt-4 border-top">
              <h5 class="fw-bold mb-4 fs-3 text">Contact</h5>

              <ul class="list-unstyled">
                <li class="text-start">
                  <p>
                    <i class="fas fa-map-marker-alt pe-2"></i>Ho Chi Minh City,
                    Viet Nam
                  </p>
                </li>
                <li class="text-start">
                  <p><i class="fas fa-phone pe-2"></i>+ 84 938 475 370</p>
                </li>
                <li class="text-start">
                  <p>
                    <i class="fas fa-envelope pe-2 mb-0"></i
                    >dangtrinh.dev@gmail.com
                  </p>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pt-4 border-top">
              <h5 class="fw-bold mb-4 fs-3 text">Latest News</h5>

              <ul class="list-unstyled">
                {% for blog in blogs|slice:":2" %}
                <li class="mb-4 text-start">
                  <div class="row align-items-start">
                    <div class="col-6">
                      <img
                        src="{{ blog.image.url }}"
                        class="w-100 img-blog-footer"
                        alt="Blog Image"
                      />
                    </div>
                    <div class="col-6">
                      <a
                        href="/blogs/{{ blog.id }}"
                        class="text-decoration-none hover-underlined-text text-light"
                        >{{ blog.title|safe }}</a
                      >
                    </div>
                  </div>
                  <div class="text-light pt-1">
                    <small class="me-2"><i class="fa fa-user me-2"></i>Admin</small>
                    <small class=""><i class="fa fa-calendar me-2"></i>{{ blog.created_at.day}}/{{ blog.created_at.month }}/{{ blog.created_at.year}}</small>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-4 fs-5 text"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          Copyright © 2023, Powered by
          <a class="text-white fw-bold" href="https://facebook.com/dangtrinhhh"
            >dangtrinh</a
          >
        </div>
        <!-- Copyright -->
      </footer>
    </div>
    <!-- Footer End -->
  
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
