{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/font/themify-icons-font/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>DoubleT Bad | Homepage</title>
  </head>

  <body>
    <div id="main-body" style="margin: 0 10vw;">
      {% include 'components/navbar.html' %}

      <div class="row g-0 p-0" style="margin-top: 100px;">
        <div class="col-lg-12 p-0 m-0">
          <div id="">
          </div>
          {% include 'components/carousel.html' %}
        </div>
      </div>

      {% include 'components/levelSection.html' %}

    <!-- Messages Start -->
    <div id="alerts-section">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          />
        </symbol>
        <symbol
          id="exclamation-triangle-fill"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </symbol>
      </svg>
      <div id="messageContainer" style="position:fixed ; z-index: 99999; left: 0; bottom: 0; margin-left: 20px;"></div>
    </div>
    {% include 'components/messageAlert.html' with messages=messages %}
    <!-- Messages End -->

    <!-- Modal Start -->

    {% include 'components/loginForm.html' %}
    
    {% include 'components/registerForm.html' %}

    <!-- Modal End -->

    <!-- About Start -->
    {% include 'components/about.html' %}
    <!-- About End -->

    <!-- Feature Start -->
    {% include 'components/features.html' %}
    <!-- Feature End -->

    <!-- Product Start -->
    <div class="product-sections container-xxl py-5 my-5">
      <div class="container">
        <div class="row g-0 gx-5 align-items-end">
          <div class="col-lg-6">
            <div
              class="section-header text-start mb-5 wow fadeInUp"
              data-wow-delay="0.1s"
              style="max-width: 500px;"
            >
              <h1 class="text-lora display-5 mb-3">Sản phẩm mới</h1>
              <p>
                Khám phá khó sản phẩm mới đa dạng đang được cập nhật liên tục tại đây nè mấy ní 😉
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 text-start text-lg-end wow slideInRight"
            data-wow-delay="0.1s"
          >
            <ul id="product-type-list" class="nav nav-pills d-inline-flex justify-content-end mb-5"></ul>            
          </div>
        </div>
        <div id="product-container-list" class="tab-content"></div>
      </div>
    </div>
    <div id="product-section"></div>
    <!-- Product End -->

    <!-- Shop Visit Start -->
    <div class="container-fluid greentea-bgcolor bg-fruit-2 my-5 py-5">
      <div class="container">
          <div class="row g-5 align-items-center m-auto">
              <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                  <h1 class="display-5 text-white text-lora mb-3">Ghé thăm cửa hàng chúng tôi</h1>
                  <p class="text-white mb-0">Khám phá thế giới phụ kiện cầu lông lớn nhất Việt Nam, nơi cung cấp đầy đủ các sản phẩm và dịch vụ cho cộng đồng người chơi cầu lông đam mê. Tại đây, chúng tôi không chỉ cung cấp những chiếc vợt chất lượng, mà còn đồng hành cùng bạn qua mỗi set đấu với những phụ kiện cầu lông đa dạng và chất lượng hàng đầu. Bạn sẽ khám phá thế giới của những đôi giày êm ái, quần áo thoáng khí và những bình nước tiện lợi, tất cả được thiết kế để nâng cao trải nghiệm chơi cầu lông của bạn.</p>
              </div>
              <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                  <a class="btn btn-lg btn-carrot rounded-pill py-3 px-5" href="">Xem ngay</a>
              </div>
          </div>
      </div>
    </div>
    <!-- Shop Visit End -->

    <div id="testimonial-section-home"></div>

    <!-- Testimonial Start -->
    {% include 'components/customerReview.html' %}
    <!-- Testimonial End -->

    <!-- Blog Start -->
    {% include 'components/blogs.html' with blogs=blogs %}
    <!-- Blog End -->

  </div>

  <!-- Brands Start -->
  {% include 'components/brandSlider.html' %}
  <!-- Brands End -->

  <!-- Footer Start -->
  {% include 'components/footer.html' with blogs=blogs %}
  <!-- Footer End -->
  
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    
      document.addEventListener('DOMContentLoaded', async function () {
        const is_staff = "{{ is_staff }}";
        
        async function getAllProductsWithImages() {
          try {

            const response = await fetch('/api/product-with-type/', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
              },
            });
    
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
    
            const data = await response.json();
            console.log('All products with images:', data);
            return data;
          } catch (error) {
            console.error('Error fetching all products with images:', error);
          }
        }
        
        function renderProductTypes(productTypes) {
          const productTypeList = document.getElementById('product-type-list');
          
          productTypes.forEach((type,index) => {
            const listItem = document.createElement('li');
            listItem.classList.add('nav-item', 'me-2');
        
            const link = document.createElement('a');
            index == 0 ? link.classList.add('btn', 'btn-outline-primary', 'border-2', 'active') : link.classList.add('btn', 'btn-outline-primary', 'border-2');
            
            link.setAttribute('data-bs-toggle', 'pill');
            link.setAttribute('href', `#tab-${type.type.product_type_id}`);
            link.textContent = type.type.name;
        
            listItem.appendChild(link);
            productTypeList.appendChild(listItem);
          })
        }
        
        function renderProducts(productsWithImages, isStaff) {
          const productContainerList = document.getElementById('product-container-list');
          
          productsWithImages.forEach((productTypeInfo, index) => {
            const tabPane = document.createElement('div');
            index == 0 ? tabPane.classList.add('tab-pane', 'fade', 'show', 'p-0', 'active') : tabPane.classList.add('tab-pane', 'fade', 'show', 'p-0');
            tabPane.setAttribute('id', `tab-${productTypeInfo.type.product_type_id}`);
        
            if (productTypeInfo.type.product_type_id === 1) {
              tabPane.classList.add('active');
            }
        
            const row = document.createElement('div');
            row.classList.add('row', 'g-4');

            if (productTypeInfo.products.length == 0) {
              row.innerHTML = '<div class="text-center">Không có sản phẩm.</div>'
            }
        
            productTypeInfo.products.forEach((productInfo, index2) => {
              if (index2 < 8) {
                const col = document.createElement('div');
                col.classList.add('col-xl-3', 'col-lg-4', 'col-md-6', 'wow', 'fadeInUp', 'my-4');
                col.setAttribute('data-wow-delay', '0.1s');
        
                const productItem = document.createElement('div');
                productItem.classList.add('product-item', 'rounded-3', 'border', 'box-shadow-custom');
        
                const positionRelative = document.createElement('div');
                positionRelative.classList.add('position-relative', 'bg-light', 'overflow-hidden');
                
                const productImage = document.createElement('img');
                for (const imageInfo of productInfo.images) {
                  console.log("🚀 ~ imageInfo:", imageInfo)
                  productImage.classList.add('card-img-top', 'w-100');
                  productImage.setAttribute('alt', 'Product Image');
                  if (imageInfo) {
                    productImage.setAttribute('src', imageInfo.url);
                  } else {
                    productImage.setAttribute('src', '/static/img/product-1.jpg'); // Đường dẫn mặc định cho hình ảnh sản phẩm
                  }
                }
        
                const carrotBgcolor = document.createElement('div');
                carrotBgcolor.classList.add('carrot-bgcolor', 'rounded', 'text-white', 'position-absolute', 'start-0', 'top-0', 'm-2', 'py-1', 'px-1');
                carrotBgcolor.textContent = 'New';
        
                positionRelative.appendChild(productImage);
                positionRelative.appendChild(carrotBgcolor);
        
                const textCenter = document.createElement('div');
                textCenter.classList.add('text-center', 'p-4');
        
                const productLink = document.createElement('a');
                productLink.classList.add('d-block', 'h5', 'text-decoration-none', 'text-dark', 'text-lora', 'mb-2', 'text-start', 'text-truncate');
                productLink.setAttribute('href', `/products/${productInfo.product_id}`);
                productLink.textContent = productInfo.name || ' ';
        
                // Move the declaration here
                const textDetails = document.createElement('div');
                textDetails.classList.add('text-details');
        
                const productDetails = document.createElement('div');
                productDetails.classList.add('product-details', 'd-flex', 'align-items-center', 'justify-content-start');
        
                const textBody1 = document.createElement('div');
                textBody1.classList.add('text-body', 'text-decoration-line-through', 'text-truncate', 'text-start', 'p-0', 'convert-to-vnd');
                textBody1.textContent = productInfo.price || ' ';
        
                const textDanger = document.createElement('div');
                textDanger.classList.add('text-danger', 'fw-bold', 'h5', 'text-truncate', 'text-start', 'my-3', 'convert-to-vnd');
                textDanger.textContent = productInfo.pricesale || ' ';
        
                textDetails.appendChild(textBody1);
                textDetails.appendChild(textDanger);
        
                productDetails.appendChild(textDetails);
        
                if (productInfo.pricesale < productInfo.price) {
                  const bigSaleIcon = document.createElement('img');
                  bigSaleIcon.classList.add('bigsale-icon', 'mx-auto');
                  bigSaleIcon.setAttribute('src', '/static/img/bigsale.gif'); // Đường dẫn mặc định cho biểu tượng giảm giá lớn
                  bigSaleIcon.setAttribute('alt', 'bigsale');
                  productDetails.appendChild(bigSaleIcon);
                }
        
                textCenter.appendChild(productLink);
                textCenter.appendChild(productDetails);
        
                productItem.appendChild(positionRelative);
                productItem.appendChild(textCenter);
        
                if (isStaff === 'True') {
                  const borderTop1 = document.createElement('div');
                  borderTop1.classList.add('border-top', 'd-flex');
        
                  const small1 = document.createElement('small');
                  small1.classList.add('w-50', 'text-center', 'border-end', 'py-2');
        
                  const editLink = document.createElement('a');
                  editLink.classList.add('text-body', 'text-decoration-none');
                  editLink.setAttribute('href', `/products/edit/${productInfo.product_id}`);
                  editLink.innerHTML = '<i class="fa fa-pen greentea-color me-2"></i>Sửa';
        
                  small1.appendChild(editLink);
        
                  const small2 = document.createElement('small');
                  small2.classList.add('w-50', 'text-center', 'py-2');
        
                  const deleteLink = document.createElement('a');
                  deleteLink.classList.add('text-body', 'text-decoration-none');
                  deleteLink.setAttribute('href', `/products/delete/${productInfo.product_id}`);
                  deleteLink.innerHTML = '<i class="fa fa-trash carrot-color me-2"></i>Xóa';
        
                  small2.appendChild(deleteLink);
        
                  borderTop1.appendChild(small1);
                  borderTop1.appendChild(small2);
        
                  productItem.appendChild(borderTop1);
                } else {
                  const borderTop2 = document.createElement('div');
                  borderTop2.classList.add('border-top', 'd-flex');
        
                  const small3 = document.createElement('small');
                  small3.classList.add('w-50', 'text-center', 'border-end', 'py-2');
        
                  const viewDetailButton = document.createElement('button');
                  viewDetailButton.setAttribute('type', 'button');
                  viewDetailButton.classList.add('btn', 'btn-transparent', 'btn-sm');
        
                  const viewDetailLink = document.createElement('a');
                  viewDetailLink.classList.add('text-body', 'text-decoration-none', 'view-detail');
                  viewDetailLink.setAttribute('href', `/products/${productInfo.product_id}`);
                  viewDetailLink.innerHTML = '<i class="fa fa-eye greentea-color me-2"></i>Xem chi tiết';
        
                  viewDetailButton.appendChild(viewDetailLink);
                  small3.appendChild(viewDetailButton);
        
                  const small4 = document.createElement('small');
                  small4.classList.add('w-50', 'text-center', 'py-2');
        
                  const addToCartButton = document.createElement('button');
                  addToCartButton.setAttribute('type', 'button');
                  addToCartButton.classList.add('btn', 'btn-transparent', 'btn-sm');
        
                  const addToCartLink = document.createElement('a');
                  addToCartLink.classList.add('text-body', 'text-decoration-none', 'pe-auto', 'add-to-cart');
                  addToCartLink.setAttribute('data-product-id', productInfo.product_id);
                  addToCartLink.setAttribute('onclick', `updateCartItemCount('${productInfo.product_id}', 1)`);
                  addToCartLink.innerHTML = '<i class="fa fa-shopping-bag greentea-color me-2"></i>Thêm vào giỏ';
        
                  addToCartButton.appendChild(addToCartLink);
                  small4.appendChild(addToCartButton);
        
                  borderTop2.appendChild(small3);
                  borderTop2.appendChild(small4);
        
                  productItem.appendChild(borderTop2);
                }
        
                col.appendChild(productItem);
                row.appendChild(col);
              }
            });
        
            const col12 = document.createElement('div');
            col12.classList.add('col-12', 'text-center', 'wow', 'fadeInUp');
            col12.setAttribute('data-wow-delay', '0.1s');
        
            const browseMoreLink = document.createElement('a');
            browseMoreLink.classList.add('btn', 'btn-primary', 'rounded-pill', 'py-3', 'px-5');
            browseMoreLink.setAttribute('href', '/products');
            browseMoreLink.textContent = 'Browse More Products';
        
            col12.appendChild(browseMoreLink);
            row.appendChild(col12);
        
            tabPane.appendChild(row);
            productContainerList.appendChild(tabPane);
          });
        }
        
        // Use await to get the data
        const productsData = await getAllProductsWithImages();
        
        // Render products to HTML
        renderProductTypes(productsData);
        renderProducts(productsData, is_staff);
      
        var priceElements = document.querySelectorAll('.convert-to-vnd');
        priceElements.forEach(function(element) {
            var priceValue = element.innerHTML.trim();
            var convertedValue = convertToVND(parseFloat(priceValue));
            element.innerHTML = convertedValue;
        });
      });
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <!-- <script
        src="https://mindmaid.ai/embed.js"
        data-chat-service="Salebot"
        data-bot-id="71796453-8edd-4ddf-82be-d60bcb3e936e"
        data-chat-width="450px"
        data-chat-height="600px"
        data-bubble-color="#3071FF"
    ></script> -->
  </body>
</html>
