{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static '/font/themify-icons-font/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}">
    <title>DojiStore | Homepage</title>
  </head>
  <body>
    <!-- Navbar Start -->
    {% include 'components/navbar.html' %}
    <!-- Navbar End -->

    <!-- Chatbot Button Start -->
    <button class="cart-btn btn-outline-primary border-2">
      <a class="shopping-bag-icon m-auto" href="/cart">
          <i class="fa fa-comments greentea-color"></i>
      </a>
    </button>
    <!-- Chatbot Button End -->

    <!-- Modal Start -->

    <div id="modal" class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                Welcome to DojiStore
            </header>

            <div class="modal-body">
                <!-- For: only use with id -->
                <form method="POST">
                    {% csrf_token %}
                    <label class="modal-label">
                        <i class="ti-user"></i>
                        Username
                    </label>
                    <input type="text" name="username" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Password
                    </label>
                    <input type="password" name="password" class="modal-input" placeholder="Your password" required="" autocomplete="current-password">
                    
                    {% for message in messages %}
                    <h3 style="color: red">{{ message}}</h3>
                    {% endfor %}
                    
                    <input type="submit" name="login" value="Login" class="buy-tickets">
                </form>
            </div>
            <div class="d-flex justify-content-between">
                <div class="m-4">
                    <a class="btn-register cursor-pointer">Register</a>
                </div>
                <div class="m-4">
                    <a href="/accounts/password/reset/">Forgot password ?</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-container js-modal-container2">
            <div class="modal-close2">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                Welcome to DojiStore
            </header>

            <div class="modal-body">
                <!-- For: only use with id -->
                <form method="POST">
                    {% csrf_token %}
                    <label for="ticket-quantity" class="modal-label">
                        <i class="ti-email"></i>
                        Email
                    </label>
                    <input type="email" name="email" class="modal-input" placeholder="Your email" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-user"></i>
                        Username
                    </label>
                    <input type="text" name="username" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Password
                    </label>
                    <input type="password" name="password" class="modal-input" placeholder="Your password" required="" autocomplete="current-password">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Confirm Password
                    </label>
                    <input type="password" name="password2" class="modal-input" placeholder="Confirm your password" required="" autocomplete="current-password">

                    {% for message in messages %}
                    <h3 style="color: red">{{ message}}</h3>
                    {% endfor %}

                    <input type="submit" name="register" value="Register" class="buy-tickets">
                </form>
            </div>

            <div class="d-flex justify-content-between">
                <div class="m-4">
                    <a class="btn-login cursor-pointer">Login</a>
                </div>
                <div class="m-4">
                    <a href="/accounts/password/reset/">Forgot password ?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal End -->
    
    <section class="vh-100" style="background-color: #8c9eff;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-stepper text-black" style="border-radius: 16px;">
      
                <div class="card-body p-5">
      
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <div>
                      <h5 class="mb-0">INVOICE <span class="text-primary font-weight-bold">#Y34XDHR</span></h5>
                    </div>
                    <div class="text-end">
                      <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                      <p class="mb-0">USPS <span class="font-weight-bold">234094567242423422898</span></p>
                    </div>
                  </div>
      
                  <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                    <li class="step0 active text-center" id="step1"></li>
                    <li class="step0 active text-center" id="step2"></li>
                    <li class="step0 active text-center" id="step3"></li>
                    <li class="step0 text-muted text-end" id="step4"></li>
                  </ul>
      
                  <div class="d-flex justify-content-between">
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Processed</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Shipped</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">En Route</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Arrived</p>
                      </div>
                    </div>
                  </div>
      
                </div>
      
              </div>
            </div>
          </div>
        </div>
    </section>

    <div class="footer-section fw-bold">
        <div class="footer-element"><p>Copyright © 2023, Powered by dodotrinh. All Rights Reserved</p></div>
        <div class="footer-element"><p><i class="fas fa-map-marker-alt" style="margin-right: 15px;"></i>Saigon</p></div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>