{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/font/themify-icons-font/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}">
    <title>DoubleT Bad | Homepage</title>
  </head>
  <body>
    <!-- Navbar Start -->
    {% include 'components/navbar.html' %}
    <!-- Navbar End -->

    <!-- Chatbot Button Start -->
    <button class="cart-btn btn-outline-primary border-2">
      <a class="shopping-bag-icon m-auto" href="/cart">
          <i class="fa fa-comments greentea-color"></i>
      </a>
    </button>
    <!-- Chatbot Button End -->

    <!-- Modal Start -->

    {% include 'components/loginForm.html' %}

    {% include 'components/registerForm.html' %}

    <!-- Modal End -->
    
    <div id="payment-bank-section">
        <div class="mb-3 mx-auto">
            <p><b>Vui lòng chọn hình thức thanh toán:</b></p>
        
            <div class="mb-1 form-check">
                <input type="radio" name="paymentOption" id="walletPayment" class="form-check-input">
                <label class="form-check-label" for="walletPayment">Ví <img src="{% static 'img/payment/logo-zalopay.svg' %}" alt=""></label>
            </div>
        
            <div class="mb-1 form-check">
                <input type="radio" name="paymentOption" id="cardPayment" class="form-check-input">
                <label class="form-check-label" for="cardPayment">Visa, Mastercard, JCB <span class="text-gray">(qua cổng ZaloPay)</span></label>
            </div>
        
            <div class="mb-1 form-check">
                <input type="radio" name="paymentOption" id="atmPayment" class="form-check-input" checked>
                <label class="form-check-label" for="atmPayment">Thẻ ATM <span class="text-gray">(qua cổng ZaloPay)</span></label>
            </div>
        </div>        

        <div class="bank-group">
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vtb.svg' %}" alt=""> Vietinbank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-varb.svg' %}" alt=""> Agribank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vcb.svg' %}" alt=""> Vietcombank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-bidv.svg' %}" alt=""> BIDV
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-dab.svg' %}" alt=""> Đông Á Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-scb.svg' %}" alt=""> Sacombank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-acb.svg' %}" alt=""> ACB
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-mb.svg' %}" alt=""> MBBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-tcb.svg' %}" alt=""> Techcombank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vpb.svg' %}" alt=""> VPBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-eib.svg' %}" alt=""> Eximbank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vib.svg' %}" alt=""> VIB
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-hdb.svg' %}" alt=""> HDBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-ojb.svg' %}" alt=""> Oceanbank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-shb.svg' %}" alt=""> SHB
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-msb.svg' %}" alt=""> Maritime Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-seab.svg' %}" alt=""> SeABank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-abb.svg' %}" alt=""> ABBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-tpb.svg' %}" alt=""> TPBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-sgcb.svg' %}" alt=""> TMCP Sài Gòn
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-lpb.svg' %}" alt=""> Liên Việt Post Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-sgb.svg' %}" alt=""> SaigonBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-ocb.svg' %}" alt=""> OCB
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-nab.svg' %}" alt=""> Nam Á Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vab.svg' %}" alt=""> Việt Á Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-bvb.svg' %}" alt=""> Bảo Việt Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-gpb.svg' %}" alt=""> GPBank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-bab.svg' %}" alt=""> Bắc Á Bank
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
            <a href="#" class="bank-item">
                <img src="{% static 'img/payment/bank-vccb.svg' %}" alt=""> Ngân hàng Bản Việt
                <img src="{% static 'img/payment/check-mark.svg' %}" alt="" class="checkmark">
            </a>
            
        </div>

        <button type="button" class="btn btn-primary">Checkout</button>
    </div>


    <div class="footer-section fw-bold">
        <div class="footer-element"><p>Copyright © 2023, Powered by dodotrinh. All Rights Reserved</p></div>
        <div class="footer-element"><p><i class="fas fa-map-marker-alt" style="margin-right: 15px;"></i>Saigon</p></div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/icheck.min.js' %}"></script>
        
    <script>
    <!-- -->
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>