{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css"  href="{% static 'css/loginform.css' %}">
    <link rel="stylesheet" href="{% static '/font/themify-icons-font/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontawesome/css/all.css' %}">
    <title>Trang Bán Hàng</title>
</head>

<body>
    <!-- Messages Start -->
    {% include 'components/messageAlert.html' with messages=messages %}
    <!-- Messages End -->
    
    <div id="modal2" class="modal">
        <div class="modal-container js-modal-container2">
            <div class="modal-close2">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                Chào mừng đến với DoubleT Bad
            </header>

            <div class="modal-body">
                <!-- For: only use with id -->
                <form method="POST" action="register">
                    {% csrf_token %}
                    <label for="ticket-quantity" class="modal-label">
                        <i class="ti-email"></i>
                        Email
                    </label>
                    <input type="email" name="email" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-user"></i>
                        Tên tài khoản
                    </label>
                    <input type="text" name="username" class="modal-input" placeholder="Your username" required=""  autocomplete="username">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Mật khẩu
                    </label>
                    <input type="password" name="password" class="modal-input" placeholder="Your password" required="" autocomplete="current-password">

                    <label class="modal-label">
                        <i class="ti-shopping-cart"></i>
                        Xác nhận mật khẩu
                    </label>
                    <input type="password" name="password2" class="modal-input" placeholder="Confirm your password" required="" autocomplete="current-password">

                    {% for message in messages %}
                    <h3 style="color: red">{{ message}}</h3>
                    {% endfor %}

                    <input type="submit" value="Đăng nhập" class="buy-tickets">
                </form>
            </div>

            <footer class="modal-footer">
                <div class="modal-register">
                    <p>
                        <a href="/login">Đăng nhập</a>
                    </p>
                </div>
                <div class="modal-help">
                    <p>
                        <a href="/accounts/password/reset/">Quên mật khẩu ?</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <script src="{% static '' %}"></script>
</body>

</html>
