{% load static %}
<!--Brand Start -->
<!--font-awesome.min.css-->
<link rel="stylesheet" href="{% static 'css/infinite-slider.css' %}">

<h1 class="text-lora display-5 mb-3 text-center mt-5">Đối tác tin cậy</h1>

<div class="logos__marquee my-5 py-5">
    <div class="marquee__logos">
        <img src="{% static 'img/brand/br1.png' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br2.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br3.png' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br4.png' %}" width="240" height="80" loading="lazy" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br5.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br6.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
    </div>
    <div class="marquee__logos" aria-hidden="true">
        <img src="{% static 'img/brand/br1.png' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br2.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br3.png' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br4.png' %}" width="240" height="80" loading="lazy" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br5.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
        <img src="{% static 'img/brand/br6.jpg' %}" width="240" height="80" loading="eager" alt="Brand Image" class="intro-logos_logo">
    </div>
</div>

<!--brand end -->