{% load static %}
<!-- Testimonial Start -->
<div class="container-fluid bg-fruit-1 bg-icon py-5 mb-5">
    <div class="container py-5">
        <div class="section-header text-center mx-auto mb-5 py-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 text-lora mb-3">Đánh giá khách hàng</h1>
            <p>
                Đánh giá và ý kiến của khách hàng luôn được đội ngũ DoubleT Badminton đặc biệt quan tâm, bởi để đáp ứng nhu cầu của khách hàng và hoàn thành mục tiêu ngày càng hoàn thiện thì những đóng góp này là vô cùng hữu ích.
            </p>
        </div>
        <div id="carouselExampleControls2" class="carousel carousel-dark slide text-center" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonial">
                        <img class="customer-review-image mb-4" src="{% static 'img/viktor-axelsen.jpg' %}" alt="Avatar" />
                        <h3>Viktor Axelsen</h3>
                        <p>
                            "Shop cầu lông này mang đến cho tôi trải nghiệm tuyệt vời với những chiếc vợt chất lượng cao. Chúng tôi đã hài lòng với sự linh hoạt và hiệu suất của sản phẩm."
                        </p>
                        <div class="rating h3 text-warning">★★★★★</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <img class="customer-review-image mb-4" src="{% static 'img/ginting.webp' %}" alt="Avatar" />
                        <h3>Ginting</h3>
                        <p>
                            "Đội ngũ hỗ trợ của shop rất chuyên nghiệp và thân thiện. Họ giúp tôi chọn được vợt phù hợp với phong cách chơi cầu lông của mình, điều mà tôi rất đánh giá cao."
                        </p>
                        <div class="rating h3 text-warning">★★★★☆</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <img class="customer-review-image mb-4" src="{% static 'img/tienminh.webp' %}" alt="Avatar" />
                        <h3>Tiến Minh</h3>
                        <p>
                            "Shop có một loạt các mẫu vợt cầu lông đa dạng, từ người mới chơi đến các tay chơi nâng cao. Tôi đã sử dụng vợt từ shop trong thời gian dài mà chưa gặp vấn đề gì về độ bền."
                        </p>
                        <div class="rating h3 text-warning">★★★★★</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <img class="customer-review-image mb-4" src="{% static 'img/thuylinh.jpg' %}" alt="Avatar" />
                        <h3>Thùy Linh</h3>
                        <p>
                            "Shop không chỉ cung cấp những sản phẩm chất lượng, mà giá cả cũng rất hợp lý. Đôi khi có những ưu đãi đặc biệt, giúp tôi tiết kiệm được nhiều chi phí."
                        </p>
                        <div class="rating h3 text-warning">★★★★★</div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon p-4" aria-hidden="true"></span>
                <span class="visually-hidden">Trước</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon p-4" aria-hidden="true"></span>
                <span class="visually-hidden">Sau</span>
            </button>
        </div>
    </div>
</div>
<!-- Testimonial End -->