{% load static %}
<!-- Feature Start -->
<div class="bg-fruit-1 container-fluid bg-light bg-icon py-5">
    <div class="container">
      <div
        class="section-header text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 500px;"
      >
        <h1 class="text-lora display-5 mb-3">Quyền lợi đặc biệt</h1>
        <p>
          Các quyền lợi đặc biệt chỉ có duy nhất ở DoubleT Bad !
        </p>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="bg-white text-center h-100 p-4 p-xl-5">
            <img
              class="img-fluid mb-4"
              src="{% static 'img/icon-1.png' %}"
              alt=""
            />
            <h4 class="mb-3">Căng lưới miễn phí</h4>
            <p class="mb-4 text-start">
              Với hóa đơn trên 1 triệu đồng, bạn sẽ được tặng voucher căng lưới miễn phí.
            </p>
            <a
              class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
              href=""
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="bg-white text-center h-100 p-4 p-xl-5">
            <img
              class="img-fluid mb-4"
              src="{% static 'img/icon-2.png' %}"
              alt=""
            />
            <h4 class="mb-3">Bảo hành 1 đổi 1</h4>
            <p class="mb-4 text-start">
              Chính sách bảo hành toàn diện, đổi trả trong vòng 7 ngày nếu không ứng ý hoặc lỗi do nhà sản xuất.
            </p>
            <a
              class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
              href=""
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="bg-white text-center h-100 p-4 p-xl-5">
            <img
              class="img-fluid mb-4"
              src="{% static 'img/icon-3.png' %}"
              alt=""
            />
            <h4 class="mb-3">Chatbot tư vấn</h4>
            <p class="mb-4 text-start">
              Bạn là người mới bắt đầu chưa có kiến thức ? Đừng lo, DoubleT Bad đã tích hợp chatbot thông minh giúp bạn giải đáp cặn kẽ mọi thắc mắc.
            </p>
            <a
              class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
              href=""
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Feature End -->