{% load static %}
<!-- Level Section Start -->
<div class="row g-4 my-4 p-2 bg-white box-shadow border-radius-5">
    <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInUp my-4" data-wow-delay="0.1s">
        <img src="{% static 'img/beginner.webp'%}" class="d-block w-100" alt="Carousel 1" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInUp my-4" data-wow-delay="0.1s">
        <img src="{% static 'img/intermediate.webp'%}" class="d-block w-100" alt="Carousel 2" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInUp my-4" data-wow-delay="0.1s">
        <img src="{% static 'img/advance.webp'%}" class="d-block w-100" alt="Carousel 3" />
    </div>
</div>

<!-- Leval Section End -->