{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div id="modal" class="modal js-modal">
    <div class="modal-container js-modal-container">
      <div class="modal-close">
        <i class="ti-close"></i>
      </div>

      <header class="modal-header-custom">Chào mừng đến với DoubleT Bad</header>

      <div class="modal-body">
        <form id="loginForm">
          <label class="modal-label">
            <i class="ti-user"></i>
            Tên đăng nhập
          </label>
          <input
            type="text"
            name="username"
            class="modal-input"
            placeholder="Nhập tên đăng nhập"
            required=""
            autocomplete="username"
          />

          <label class="modal-label">
            <i class="ti-shopping-cart"></i>
            Mật khẩu
          </label>
          <input
            type="password"
            name="password"
            class="modal-input"
            placeholder="Nhập mật khẩu của bạn"
            required=""
            autocomplete="current-password"
          />

          {% for message in messages %}
          <h3 style="color: red">{{ message}}</h3>
          {% endfor %}

          <input
            type="submit"
            name="login"
            value="Đăng nhập"
            class="buy-tickets"
          />
        </form>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mx-4 my-2">
          <a class="btn-register cursor-pointer" style="color: #000; font-size: 13px; text-decoration: none;">Đăng ký</a>
        </div>
        <div class="mx-4 my-2">
          <a style="color: #000; font-size: 13px; text-decoration: none;" href="/accounts/password/reset/">Quên mật khẩu ?</a>
        </div>
      </div>
    </div>
</div>

<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    var formData = new FormData(this);
    fetch('/api/login/', {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Failed to log in');
        }
    })
    .then(data => {
        if (data.hasOwnProperty('accessToken')) {
            // Đăng nhập thành công, lưu trữ accessToken
            var accessToken = data.accessToken;
            var refreshToken = data.refreshToken

            // Lưu trữ accessToken vào localStorage hoặc sessionStorage
            localStorage.setItem('accessToken', data.accessToken);
            localStorage.setItem('refreshToken', data.refreshToken);
            
            console.log("🚀 ~ accessToken:", accessToken)
            window.location.href = '/';
            
            // Tiếp tục xử lí sau khi đăng nhập thành công
        } else {
            // Đăng nhập không thành công, xử lí thông báo lỗi
            console.error('Failed to log in:', data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

</script>