{% load static %}
<!-- Navbar Start -->
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Vợt cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Giày cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Phụ kiện cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Túi cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Áo cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<div class="btn-group dropend w-100">
    <button type="button" class="btn btn-transparent dropdown-toggle text-start" data-bs-toggle="dropdown"
        aria-expanded="false">
        Balo cầu lông
    </button>
    <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
    </ul>
</div>
<!-- Navbar End -->